<!-- header -->
<div class="container header">
  <h1>EMPLOYEE DIRECTORY</h1>
</div>

<!-- search container -->
<div class="container search-container">
  <form class="container search-form" (submit)="$event.preventDefault(); onEnter()">
    <label for="search-box">Search Employees</label>
    <div class="search-box-container">
      <input
        id="search-box"
        type="search"
        [formControl]="searchControl"
        class="search-box"
        (input)="showDropdown.set(true)"
        (keydown.enter)="onEnter()"
      />
      @if (showDropdown() && searchControl.value && (isLoading() || isFetchError() || employees().length > 0)) {
        <div class="autocomplete-dropdown" role="listbox">
          @if (isLoading()) {
            <div class="message-loading dropdown-item">Loading suggestions...</div>
          } @else if (isFetchError()) {
            <div class="message-error dropdown-item">Error loading suggestions</div>
          } @else {
            @for (employee of employees(); track employee.id) {
              <div
                class="dropdown-item suggestion-item"
                role="option"
                tabindex="0"
                (click)="selectEmployee(employee)"
                (keydown.enter)="selectEmployee(employee)"
              >
                {{ employee.firstName + " " + employee.lastName }}
              </div>
            }
          }
        </div>
      }
    </div>
  </form>
</div>

<!-- dynamic table container-->
<div class="container table-container">

  <!-- currently displayed table -->
  <table aria-label="Employee List">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Company</th>
      </tr>
    </thead>
    <tbody>
      @for (employee of employees(); track employee.id) {
        <tr>
          <td>
            {{ employee.id }}
          </td>
          <td>
            {{ employee.firstName }} {{ employee.lastName }}
          </td>
          <td>
            {{ employee.email }}
          </td>
          <td>
            {{ employee.age }}
          </td>
          <td>
            {{ employee.company.name }}
          </td>
        </tr>
      }
    </tbody>
  </table>

  <!-- When scroll down, auto-fetch more rows -->
  <div appIntersectionObserver (intersect)="loadNextPage()">
    @if (isLoading()) {
      <div class="message-loading" role="status" aria-live="polite"><h2>Loading table data ...</h2></div>
    } @else if (isFetchError()) {
      <div class="message-error" role="status" aria-live="polite"><h2>Error loading table</h2></div>
    }
  </div>
</div>


